<p id="notice"><%= notice %></p>

<h1>Ports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ports.each do |port| %>
      <tr>
        <td><%= port.name %></td>
        <td><%= port.description %></td>
        <td><%= port.image_url %></td>
        <td><%= link_to 'Show', port %></td>
        <td><%= link_to 'Edit', edit_port_path(port) %></td>
        <td><%= link_to 'Destroy', port, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Port', new_port_path %>
