<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @port.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @port.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @port.image_url %>
</p>

<%= link_to 'Edit', edit_port_path(@port) %> |
<%= link_to 'Back', ports_path %>
