<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :submarine_id %>
    <%= f.text_field :submarine_id %>
  </div>

  <div class="field">
    <%= f.label :start_at %>
    <%= f.date_select :start_at %>
  </div>

  <div class="field">
    <%= f.label :end_at %>
    <%= f.date_select :end_at %>
  </div>

  <div class="field">
    <%= f.label :total_price %>
    <%= f.number_field :total_price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
