<p id="notice"><%= notice %></p>


<p>
  <strong>Booked by:</strong>
  <%= @booking.user.handle %>
</p>



<p>
  <strong>Submarine:</strong>
  <%= @booking.submarine.name %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @booking.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @booking.end_at %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @booking.total_price %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to "My Bookings", controller: "bookings", action: "user", user_id: current_user %>
<%= link_to 'Home', homepage_path %>
