<h1><%= @user.handle %></h1>

<br>

<ol>
  <% @bookings.each do |booking| %>
    <li><%= booking.submarine %>, <%= booking.start_at %>/<%= booking.end_at %>,   €<%= booking.total_price %>,-</li>
  <% end %>
</ol>

<br>

<%= link_to 'Back', ports_path %>
