<div class="container">
  <div class="form">
    <%= form_for(submarine) do |f| %>
      <% if submarine.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(submarine.errors.count, "error") %> prohibited this submarine from being saved:</h2>

          <ul>
          <% submarine.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-xs-4 form-group">
          <div class="form-label"><%= f.label :name %></div>
          <input type="text" class="form-control" name="submarine[name]">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 form-group">
          <div class="form-label"><%= f.label :type_submarine %></div>
          <input type="text" class="form-control" name="submarine[type_submarine]">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 form-group">
          <div class="form-label"><%= f.label :price_day %></div>
          <input type="number" class="form-control" name="submarine[price_day]">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 form-group">
          <div class="form-label"><%= f.label :max_number_of_guests %></div>
          <input type="number" class="form-control" name="submarine[max_number_of_guests]">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 form-group">
          <div class="form-label"><%= f.label :description %></div>
          <input class="form-control" name="submarine[description]" type="text" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 form-group">
          <div class="form-label"><%= f.label :image_url %></div>
          <input class="form-control" name="submarine[image_url]" type="text" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 form-group">
          <div class="form-label"><%= f.label :port %></div>
          <div class="form-control">
            <%= f.collection_select :port_id, Port.order(:name),:id,:name, include_blank: true %>
          </div>
        </div>
      </div>

      <div class="btn btn-primary btn-sm">
        <%= f.submit %>
      </div>

    <% end %>
  </div>
</div>
